* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

body {
  background-image: url('../assets/Stars.gif');
}

.container {
  &__App {
    width: 100%;
    height: auto;
    padding-top: 10px;
    font-family: 'News Cycle', sans-serif;
  }

  &__logo {
    margin-top: 10px;
    max-width: 380px;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__search {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media (min-width: 425px) {
      flex-flow: row;
      align-items: initial;
      justify-content: center;
    }

    #search {
      text-transform: capitalize;
      background-color: #000000;
      border: 1px solid #e1b100;
      color: #12c9e8;
      padding: 12px 15px;
      border-radius: 3px;

      @media (min-width: 425px) {
        margin-right: 15px;
        height: 43px;
      }
    }

    #select {
      background-color: #000000;
      border: 1px solid #e1b100;
      color: #12c9e8;
      padding: 12px 15px;
      border-radius: 3px;
      margin-top: 10px;
      width: 201px;

      @media (min-width: 425px) {
        margin-top: 0;
      }
    }
  }

  &__result {
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 20px;
    color: #12c9e8;
    max-width: 500px;
    width: 100%;
    background-color: #000000;
    border: 2px solid #e1b100;
    padding: 10px;
  }
}
